html, body {
  overflow: hidden;
}

.invisible {
  display: none;
}

.loader {
  height: 100vh;
  background-image: url("https://i.gifer.com/AIq4.gif");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  opacity: 0.2;
}

.image-container {
  position: relative;
  text-align: center;
  background-color: black;
}
.image-container .image-content {
  min-height: 100vh;
}
.image-container .image {
  height: 100vh;
  max-width: auto;
}
.image-container .button-container {
  position: absolute;
  bottom: 0;
  width: 100%;
  z-index: 20;
}
.image-container .button-container .first {
  text-align: left;
}
.image-container .button-container .first img {
  height: 40px;
  width: 40px;
}
.image-container .button-container .second {
  text-align: right;
}
.image-container .button-container .second img {
  height: 40px;
  width: 40px;
}
.image-container .button-container .button-content {
  height: 80px;
  width: 80px;
  padding: 15px;
  background-color: none;
}
.image-container .button-container .btn {
  border-color: none !important;
  color: white;
}
.image-container .button-container .btn i {
  font-size: 20px;
}
.image-container .button-container .btn .fa-heart-broken {
  color: #c11e1e;
}
.image-container .button-container .btn .fa-expand {
  color: black;
}
.image-container .button-container .btn:focus {
  box-shadow: none;
}
.image-container .btn.favorite {
  transform: scale(1);
  /* Default scale */
  transition: transform 0.1s ease-in-out;
  /* Add a transition for a smooth effect */
}
.image-container .btn.favorite:hover {
  animation: heartbeat 0.3s 2;
  /* Apply the heartbeat animation on hover 3 times */
}
@keyframes heartbeat {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.3);
  }
  100% {
    transform: scale(1);
  }
}
.image-container .btn.reload {
  transform: rotate(0);
  transition: transform 0.1s;
}
.image-container .btn.reload:hover {
  transform: rotate(-180deg);
  transition: transform 0.2s;
}
.image-container .btn.fullscreen {
  transform: scale(1);
  transition: transform 0.1s;
}
.image-container .btn.fullscreen:hover {
  transform: scale(1.5);
  transition: transform 0.2s;
}
.image-container .btn.safe {
  transform: translateX(0);
  /* Default position */
  transition: transform 0.2s ease-in-out;
  /* Add a transition for a smooth effect */
}
.image-container .btn.safe:hover {
  animation: shake 0.5s;
  /* Apply the shake animation on hover */
}
@keyframes shake {
  0% {
    transform: translateX(0);
  }
  /* Start at the default position */
  10%, 90% {
    transform: translateX(-2px);
  }
  /* Move left and right */
  20%, 80% {
    transform: translateX(2px);
  }
  /* Move right and left */
  30%, 50%, 70% {
    transform: translateX(-2px);
  }
  /* Move left and right */
  40%, 60% {
    transform: translateX(2px);
  }
  /* Move right and left */
}
.image-container .btn.right {
  transform: translateX(0);
  /* Default position */
  transition: transform 0.4s ease-in-out;
  /* Add a transition for a smooth effect */
}
.image-container .btn.right img {
  max-width: 40px;
  border-radius: 25px;
  padding: 6px;
  background: #0000003d;
}
.image-container .btn.right:hover {
  animation: passToRight 1s forwards;
  /* Apply the pass to right animation on hover */
}
@keyframes passToRight {
  from {
    transform: translateX(0);
    /* Start at the default position */
  }
  to {
    transform: translateX(20%);
    /* Move to the right */
  }
}
.image-container .btn.left {
  transform: translateX(0);
  /* Default position */
  transition: transform 0.4s ease-in-out;
  /* Add a transition for a smooth effect */
}
.image-container .btn.left img {
  max-width: 40px;
  border-radius: 25px;
  padding: 6px;
  background: #0000003d;
}
.image-container .btn.left:hover {
  animation: passToLeft 1s forwards;
  /* Apply the pass to right animation on hover */
}
@keyframes passToLeft {
  from {
    transform: translateX(0);
    /* Start at the default position */
  }
  to {
    transform: translateX(-20%);
    /* Move to the left */
  }
}
.image-container .button-container.top {
  position: absolute;
  top: -13px;
}
.image-container .button-container.top .button-content {
  height: 80px;
  width: 80px;
  padding: 15px;
  background-color: none;
}
.image-container .button-container.top .button-content img {
  height: 40px;
  width: 40px;
}
.image-container .safety-indicator {
  color: #12bf12;
  position: relative;
  top: -34px;
}
.image-container .button-content.flag {
  position: absolute;
  top: 46vh;
}

.blacklist:hover {
  animation: wind 3s ease-in-out infinite;
}

@keyframes wind {
  0% {
    transform: translateX(0) rotate(0deg);
  }
  25% {
    transform: translateX(10px) rotate(5deg);
  }
  50% {
    transform: translateX(0) rotate(0deg);
  }
  75% {
    transform: translateX(-10px) rotate(-5deg);
  }
  100% {
    transform: translateX(0) rotate(0deg);
  }
}
.modal .modal-content {
  background-color: #000000d9;
  color: white;
}
.modal .modal-content .modal-body {
  background: darkgray;
}
.modal .modal-content .btn {
  border-radius: 0px;
  background-color: black;
}
.modal .modal-content .btn-orient {
  background-color: unset;
  width: 100%;
}
.modal .modal-content .btn-orient i {
  font-size: 100px;
}
.modal .modal-content .btn-orient .landscape {
  transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
}
.modal .modal-content .btn-orient label {
  display: none;
}

/*# sourceMappingURL=style.css.map */
